# general things to ignore
build/
bin/
lib/
share/
dist/
venv/
.tox/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
pyvenv.cfg
.pypirc

# due to using tox and pytest
.tox
.cache
.pytest_cache/
.pip-selfcheck.json
